# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

**/.env.example

# Local .terraform directories (providers, modules, etc.)
**/.terraform/

# Terraform state files (can contain sensitive data)
*.tfstate
*.tfstate.*